* {
  margin: 0;
  padding: 0;
}
.App {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Quick {
  width: 100%;
  height: 56vh;
  display: flex;
  justify-content: space-around;
}
.quick-heading {
  padding: 15px 30px;
  color: rgba(4, 14, 63, 0.64);
  font-weight: 500;
  font-size: 24px;
  font-family: inherit;
}
.quick-left {
  width: 59%;
  height: 100%;
  background-image: url("https://stat.mobicom.mn/resources/content/5g banner-2022-09-13-165031-12556184.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
}
.quick-left-detail {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quick-left-detail button {
  padding: 10px 40px;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  background-color: red;
}
.quick-right {
  width: 30%;
  height: 100%;
}
.quick-right-actions {
  width: 100%;
  height: 21%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.con {
  width: 100%;
  height: 40%;
  margin-top: 20px;
  border-radius: 15px;
  border: 1px solid rgb(204, 202, 202);
}
.con-bck-img {
  width: 100%;
  height: 80%;
  background-image: url("https://stat.mobicom.mn/resources/content/beleg banner-2022-10-21-172920-1159549875.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px;
}
.con-arrow {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.con-text {
  width: 90%;
  font-size: 18px;
}
.con-rrw svg {
  width: 18px;
}
.News {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-heading {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news-heading h4 {
  font-size: 24px;
  color: red;
}
.news-heading p {
  font-size: 13px;
  color: #040e3f;
}
.news-heading svg {
  width: 14px;
}
.news-heading-right {
  height: 100%;
  width: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Medee {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
